{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <!------------------ Page title ------------------>
        <div class="row">
            <div class="col">
                <h2 class="page-title mt-5 text-center">Success!</h2>
                <hr class="page-breaker">
                <p class="page-comment">Thank you for your order.</p>
            </div>
        </div>
    </div>
{% endblock %}
