html {
    height: 100% !important;
}

body {
    background: url('/media/home-cover.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Almarai', sans-serif;
    background-color: black;
    color: #000;
}

.overlay {
    background: #000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    opacity: 1;
}

/*--------------- Nav Bar ---------------*/

h1.company-name-font.text-white.my-0 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

h1.company-name-font.text-white.my-0:hover {
    text-decoration: none;
}
div#topnav {
    background-color: black !important;
}

nav.navbar.navbar-expand-lg.navbar-dark.w-100 {
    background-color: black;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.dropdown-item {
    font-family: 'Almarai', sans-serif;
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #dbdfe4;
    text-align: inherit;
    white-space: nowrap;
    background-color: black;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: black;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

/*---------- Nav Link styling ----------*/

a#all-products-link {
    color: #fafafa;
    font-weight: 600;
}
a#all-products-link:hover {
    color: #f0f005;
}

a#mens-link {
    color: #fafafa;
    font-weight: 600;
}
a#mens-link:hover {
    color: #f0f005;
}

a#womens-link {
    color: #fafafa;
    font-weight: 600;
}
a#womens-link:hover {
    color: #f0f005;
}

a#accessories-link {
    color: #fafafa;
    font-weight: 600;
}
a#accessories-link:hover {
    color: #f0f005;
}

a#sales-link {
    color: #fafafa;
    font-weight: 600;
}
a#sales-link:hover {
    color: #f0f005;
}


/*--------------- Nav Bar - Mobile View ---------------*/

.navbar-dark .navbar-toggler {
    color: white;
    border: black !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
i.fas.fa-bars {
    display: block;
}

/*---------- Search Box ----------*/

input.form-control.search-bar.text-white.rounded-0 {
    background-color: #000;
    text-transform: capitalize;
}

.fa-search {
    color: white;
}

/*---------- Delivery banner ----------*/

.col.delivery-offer {
    background-color: #f0f005;
    font-weight: bolder;
    color: black;
}

#delivery-banner h4 {
    font-size: 25px;
}

/*--------------- Home Page ---------------*/

h1.home-main-text {
    color: #f0f005;
    text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #f0f005;
    font-size: 60px;
    margin-top: 21px;
}

/*---------- Home Page - Shop Button ----------*/

a.shop-button.btn.btn-lg.text-white.rounded-0.text-capitalize.py-3 {
    font-family: 'Almarai', sans-serif;
    border: 2px solid #fafafa;
    background-color: #000;
    opacity: 0.75;
}

/*--------------- Products Page ---------------*/

h2.page-title {
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    background-color: #000;
    color: #fafafa;
    font-weight: lighter;
}

.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: contain;
}

a.product-count {
    color: #fafafa;
    font-size: 20px;
}

select#sort-selector {
    background-color: black;
    border-color: #fafafa !important;
    color: #fafafa;
}

/*---------- Toast messages ----------*/

.site-message-container {
    position: fixed;
    top: 13px;
    right: 13px;
    z-index: 99999999999;
}
.custom-toast {
    overflow: visible;
}

span.exit.button {
    font-size: 27px;
    text-decoration: underline;
}

.toast-header {
    color: black;
    font-size: 15px;
}

/*---------- Toast - cappers ----------*/

.w-100.toast-capper.danger {
    background-color: #ba2121;
    height: 13px;
}

.w-100.toast-capper.warning {
    background-color: #e2970f;
    height: 13px;
}

.w-100.toast-capper.info {
    background-color: #063ebb;
    height: 13px;
}

/*--------------- Individual Products Page ---------------*/

a.category-title {
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
    color: #fafafa;
    font-weight: lighter;
}

a.category-title:hover {
    text-decoration: none;
    color: #f0f005;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    background-color: black;
    color: #fafafa;
}

.card-footer.pt-0.border-0.text-left {
    background-color: black;
    color: #fafafa;
}

p.product_name.mb-0 {
    color: #fafafa;
    font-size: 27px;
}

p.product_price.text-left {
    color: #fafafa;
    font-size: 33px;
}

small.product_rating {
    font-size: 19px;
    font-family: 'Almarai', sans-serif;
}

p.product-category-bottom {
    font-size: 18px;
}

p.product-price {
    font-size: 33px;
    font-family: 'Almarai';
}

a.size-guide-text {
    color: #fafafa;
    text-decoration: none;
    background-color: transparent;
}

a.size-guide-text:hover {
    color: #f0f005;
}

p.product_description.mt-4.mb-4 {
    color: #fafafa;
    font-size: 19px;
    font-family: 'Almarai';
}

hr.page-breaker {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #f0f005;
}

p.details-header.mb-4 {
    color: #fafafa;
    font-size: 25px;
    font-family: 'Almarai';
}

p.detail_01,
p.detail_02,
p.detail_03 {
    color: #fafafa;
    font-size: 17px;
    font-family: 'Almarai';
}

/*---------- Individual Products Page - Product increment//decrement ----------*/

p.quantity-header-text{
    color: #fafafa;
}

input.form-control.qty_input {
    background-color: black;
    color: #fafafa;
    width: 30%;
}

i.fas.fa-plus {
    color: #fafafa;
}

i.fas.fa-minus {
    color: #fafafa;
}

/*---------- Individual Products Page - Buttons ----------*/

span.text-uppercase {
    color: #fafafa;
    border: 1px solid #fafafa;
    padding: 10px;
}

input.btn.btn-black.text-uppercase {
    color: #fafafa;
    border: 1px solid #fafafa;
    padding: 7px;
}

/*---------- Shopping bag page ----------*/

.table-responsive.rounded {
    display: flex;
}

@media (max-width: 300px) {
    p.bag-product-name,
    p.product-code,
    p.product-price,
    p.product-quantity { 
        font-size: 70%;
    }
}

@media (min-width: 500px) {
    p.bag-product-name,
    p.product-code,
    p.product-price,
    p.product-quantity { 
        font-size: 80%;
    }
}

@media (min-width: 700px) {
    p.bag-product-name,
    p.product-code,
    p.product-price,
    p.product-quantity { 
        font-size: 120%; 
    }
}

@media (min-width: 1200px) {
    p.bag-product-name,
    p.product-code,
    p.product-price,
    p.product-quantity { 
        font-size: 200%;
    }
}

p.bag-product-name {
    color: #fafafa;
    font-size: 33px;
    margin-left: 18px;
}

p.bag-product-code {
    color: #fafafa;
    margin-left: 18px;
    font-size: 17px;
}

p.bag-product-price {
    color: #fafafa;
    margin-left: 18px;
    font-size: 25px;
}

p.bag-product-quantity {
    color: #fafafa;
    margin-left: 18px;
    font-size: 17px;
}

h6.bag-total {
    color: #fafafa;
}

h6.bag-delivery {
    color: #fafafa;
}

h4.bag-total {
    color: #fafafa;
}

a.btn.btn-black.rounded-0.btn-lg {
    display: inline-table;
}

/*--------------- Media Queries ---------------*/

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .header-container {
        padding-top: 164px;
    }
}

/* iPhone4 + ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    select#id_product_size {
        width: 40%;
        background-color: black;
        color: #fafafa;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .form-group.quantity-box {
        width: 40%;
        background-color: black;
        color: #fafafa;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .image-container.w-25 {
        width: 100% !important;
    }
    .table-responsive.rounded {
        display: block !important;
    }
    p.bag-product-name,
    p.bag-product-code,
    p.bag-product-price,
    p.bag-product-quantity {
        margin-left: 0 !important;
    }

    span.text-uppercase {
        color: #fafafa;
        border: 1px solid #fafafa;
        padding: 10px;
        display: inline-table !important;
    }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    select#id_product_size {
        width: 20%;
        background-color: black;
        color: #fafafa;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .form-group.quantity-box {
        width: 40%;
        background-color: black;
        color: #fafafa;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    
}

/* Padding top when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}