html {
    height: 100%;
}
body {
    background: url('/media/home_cover.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #000;
    font-family: 'Almarai', sans-serif;
}

/* Nav Bar */
h1.company-name-font.text-white.my-0 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}
div#topnav {
    background-color: black !important;
}
nav.navbar.navbar-expand-lg.navbar-dark.w-100 {
    background-color: black;
}

/* Search Box */
input.form-control.search-bar.text-white.rounded-0 {
    background-color: black;
    font-weight: bolder;
}

/* Delivery banner */
.col.bg-dark.text-black {
    background-color: #a4a416 !important;
    color: #000 !important;
    font-weight: bolder !important;
}

/* Home Page */
h1.home-main-text.display-3 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 45px;
    font-weight: bolder;
}

/* Mobile View Nav */
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #dbdfe4;
    text-align: inherit;
    white-space: nowrap;
    background-color: #343a40 !important;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #343a40;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}





/* -------------------------------- Media Queries */
@media (max-width: 991px) {
    .header-container {
        padding-top: 166px;
    }

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
}}