{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- page header -->
<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="page-title text-center">Your shopping bag</h2>
                <hr>
            </div>
        </div>
        <div class="container main-shopping-container">
            <div class="row">
                <div class="col">
                    {% if bag_items %}
                        <div class="table-responsive rounded"></div>
                    {% else %}
                        <p class="text-white">No items currently in your shopping bag</p>
                        <a href="{% url 'products' %" class="btn btn-black rounded-0 text-uppercase mt-4">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

