{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- page header -->
<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col mb-5">
                <hr>
                <h2 class="page-title text-center mb-4">Your shopping bag</h2>
                <hr class="page-breaker">
            </div>
        </div>
        <div class="container main-shopping-container">
            <div class="row">
                <div class="col">
                    {% if bag_items %}
                        <div class="table-responsive rounded"></div>
                    {% else %}
                        <p class="text-white mb-5">No items currently in your shopping bag</p>
                        <a href="{% url 'products' %" class="continue-shopping-button mt-4">
                            <span class="text-uppercase">Continue Shopping</span>
                        </a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

