<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black mr-5" href="#" id="mens-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menswear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="mens-link">
                <a href="{% url 'products' %}?category=joggers" class="dropdown-item">Joggers</a>
                <a href="{% url 'products' %}?category=tshirts" class="dropdown-item">Tshirts</a>
                <a href="{% url 'products' %}?category=tops" class="dropdown-item">Tops</a>
                <a href="{% url 'products' %}?category=hoodies" class="dropdown-item">Hoodies</a>
                <a href="{% url 'products' %}?category=tanks" class="dropdown-item">Tanks</a>
                <a href="{% url 'products' %}?category=shorts" class="dropdown-item">Shorts</a>
                <a href="{% url 'products' %}?category=joggers,tshirts,tops,hoodies,tanks,shorts" class="dropdown-item">All Mens</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black mr-5" href="#" id="womens-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Womenswear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="womens-link">
                <a href="" class="dropdown-item">Leggings</a>
                <a href="" class="dropdown-item">Tshirts</a>
                <a href="" class="dropdown-item">Tops</a>
                <a href="" class="dropdown-item">Hoodies</a>
                <a href="" class="dropdown-item">Vests</a>
                <a href="" class="dropdown-item">Shorts</a>
                <a href="" class="dropdown-item">All Womens</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="" class="dropdown-item">All Accessories</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sale
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">All Sales</a>
            </div>
        </li>
    </ul>
</div>